[submodule "radar"]
	path = radar
	url = https://github.com/Adrien-radr/radar.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/nigels-com/glew
